.album-list {
  display: flex;
  margin: 0 2rem 0 2rem;
}
.album {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.album-card {
  max-width: 160px;
  max-height: 350px;
  padding: 6px;
  margin: 10px;
  .card-img {
    height: 148px;
    width: 148px;
  }
}
.album-card-text,
p {
  text-align: center;
  font-size: 12px;
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 37px;
}

.album-card :hover,
.play-btn {
  cursor: pointer;
}
.card-img :hover {
  transform: scale(1.5) !important;
}

/*** audio wave */
.wave-menu {
  border-radius: 50px;
  width: 80px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 0 0 10px;
  cursor: pointer;
  transition: ease 0.2s;
  position: relative;
  background: #fff;
}

.wave-menu li {
  list-style: none;
  height: 28px;
  width: 4px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.38);
  margin: 2px;
  padding: 0;
  animation-name: wave1;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition: ease 0.2s;
}

.wave-menu:hover > li {
  background: #fff;
}

.wave-menu:hover {
  background: rgba(0, 0, 0, 0.54);
}

.wave-menu li:nth-child(2) {
  animation-name: wave2;
  animation-delay: 0.2s;
}

.wave-menu li:nth-child(3) {
  animation-name: wave3;
  animation-delay: 0.23s;
  animation-duration: 0.4s;
}

.wave-menu li:nth-child(4) {
  animation-name: wave4;
  animation-delay: 0.1s;
  animation-duration: 0.3s;
}

.wave-menu li:nth-child(5) {
  animation-delay: 0.5s;
}

.wave-menu li:nth-child(6) {
  animation-name: wave2;
  animation-duration: 0.5s;
}

.wave-menu li:nth-child(8) {
  animation-name: wave4;
  animation-delay: 0.4s;
  animation-duration: 0.25s;
}

.wave-menu li:nth-child(9) {
  animation-name: wave3;
  animation-delay: 0.15s;
}

@keyframes wave1 {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0.5);
  }
}

@keyframes wave2 {
  from {
    transform: scaleY(0.3);
  }

  to {
    transform: scaleY(0.6);
  }
}

@keyframes wave3 {
  from {
    transform: scaleY(0.6);
  }

  to {
    transform: scaleY(0.8);
  }
}

@keyframes wave4 {
  from {
    transform: scaleY(0.2);
  }

  to {
    transform: scaleY(0.5);
  }
}

.wave-menu-pause li {
  animation-play-state: paused;
}

/** cuurent audio badge **/

.card-footer {
  display: flex;
  justify-content: space-around;
  height: 20px;
}

.badges {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 160px;
}

.badges > div {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  padding: 2px 0.5rem; /* 8px*/
  cursor: pointer;
  border: none;
  border-radius: 0.375rem; /* 6px */
  outline: none;
}

.blue {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  width: 2.5rem;
  padding: 0 1px 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 0.375rem; /* 6px */
  outline: none;
  background-color: rgba(59, 130, 246, 0.1);
  color: rgb(59 130 246);
  border: 1px rgb(59 130 246) solid;
}

.badges .green {
  background-color: rgba(34, 197, 94, 0.1);
  color: rgb(34 197 94);
  border: 1px rgb(34 197 94) solid;
  max-width: 100px;
}
.audio-title {
  position: relative;
  animation: move-words 5s linear infinite;
  margin: 0 0 0 10px;
  height: 15px;
  color: rgb(34 197 94);
}
@keyframes move-words {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
