.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  --gap: 5px;
  --clr: rgba(0, 0, 0, 0.54);
  --height: 23px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.spinner span {
  background: var(--clr);
  width: 6px;
  height: var(--height);
  animation: grow 1s ease-in-out infinite;
}

.spinner span:nth-child(2) {
  animation: grow 1s ease-in-out 0.15s infinite;
}

.spinner span:nth-child(3) {
  animation: grow 1s ease-in-out 0.3s infinite;
}

.spinner span:nth-child(4) {
  animation: grow 1s ease-in-out 0.475s infinite;
}

@keyframes grow {
  0%,
  100% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(1.8);
  }
}
