.search {
  display: flex;
  justify-content: center;
}
.action-items {
  display: flex;
  justify-content: space-between;
  margin: 0 4rem 0 3rem;
  cursor: pointer;
  h3 {
    margin: 0;
  }
}
.example-form-field {
  width: 400px;
}

.album {
  display: flex;
  flex-wrap: wrap;
}
.album-card {
  max-width: 160px;
  max-height: 250px;
  padding: 6px;
  margin: 10px;
}
.album-card-text,
p {
  text-align: center;
  font-size: 12px;
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
}
.album-card :hover,
.play-btn {
  cursor: pointer;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  min-width: 400px;
  margin: 25px 0 25px 0;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(0, 48, 73, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(0 48 73 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    margin: 25px 0 25px 0;
    max-width: 210px;
    min-width: 100px;
  }
}
